.title {
    font-size:50px;
    text-align:center;
    border-bottom:1px solid black;
    margin:0;
    padding:20px;
}
.grid {
    text-align:center;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
}
.topic a {
    color:green;
    text-decoration:none;
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
.description {
    padding-bottom:40px;
}
.step {
    padding-bottom:40px;
}
